[Unit]
Description=BindTuning Forward Proxy (Cuttle)

[Service]
User=root
ExecStart=/bin/bash -c 'cd /home/btfowardproxy/cuttle && GOPATH=`pwd` go get github.com/carlosmiguelsns/cuttle && bin/cuttle -f btcuttle.yml'
Restart=always

[Install]
WantedBy=multi-user.target